<div class="widget categories">
    <h3 class="widget-title">Property Type</h3>
    <ul class="icon">
        <li><a href="#">Commercial Space</a><span>(4)</span></li>
        <li><a href="#">Others</a><span>(12)</span></li>
    </ul>
</div>
