<div class="widget">
    <h3 class="widget-title">Contact <%= formatAgentName(agent) %></h3>
    <form action="#" method="POST">
        <div class="chat-group mt-1">
            <input class="chat-field" type="text" name="chat-name" id="chat-name" placeholder="Your name">
        </div>
        <div class="chat-group mt-1">
            <input class="chat-field" type="text" name="chat-phone" id="chat-phone" placeholder="Phone">
        </div>
        <div class="chat-group mt-1">
            <input class="chat-field" type="text" name="chat-email" id="chat-email" placeholder="Email">
        </div>
        <div class="chat-group mt-1">
            <textarea class="form-control chat-msg" name="message" rows="4" placeholder="Description">Hello, I am interested in [Luxury apartment bay view]</textarea>
        </div>
        <div class="chat-button mt-3">
            <a class="chat-btn" data-toggle="modal" data-target="#mortgage_result">Send Message</a>
        </div>
    </form>
</div>
