<% include ../shared/header.ejs %>
<% include ../shared/breadcrumbs.ejs %>
<div class="filter-wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 order-xl-12 order-xl-2 order-2">
                <div class="agent-details-wrapper">
                    <div class="row pb-30 align-items-center">
                        <div class="col-lg-3 col-sm-5 col-5">
                            <div class="item-view-mode res-box">
                                <!-- item-filter-list Menu starts -->
                                <ul class="nav item-filter-list" role="tablist">
                                    <li><a  data-toggle="tab" href="#grid-view"><i class="fas fa-th"></i></a></li>
                                    <li><a class="active" data-toggle="tab" href="#list-view"><i class="fas fa-list"></i></a></li>
                                </ul>
                                <!-- item-filter-list Menu ends -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-7 col-7">
                            <div class="nice-select hero__form-input custom-select filter-sorting" tabindex="0"><span class="current">Sort by Newest</span>
                                <ul class="list">
                                    <li class="option focus">Sort by Newest</li>
                                    <li class="option focus">Sort by Oldest</li>
                                    <li class="option focus">Sort by Featured</li>
                                    <li class="option focus">Sort by Price(Low to High)</li>
                                    <li class="option focus">Sort by Price(Low to High)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="item-element res-box  text-right sm-left">
                                <p>Showing <span>1-15 of 69</span> Listings</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="tab-content">
                            <% include includes/grid-view.ejs %>
                            <% include includes/list-view.ejs %>
                            <!--pagination starts-->
                            <div class="post-nav nav-res pt-50  ">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2  col-xs-12 ">
                                        <div class="page-num text-center">
                                            <ul>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="lnr lnr-chevron-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--pagination ends-->
                        </div>
                    </div>
                </div>
            </div>
            <% include includes/sidebar.ejs %>
        </div>
    </div>
</div>
<% include ../shared/footer.ejs %>
