<% include ../shared/header.ejs %>
<% include ../shared/breadcrumbs.ejs %>
<div class="filter-wrapper style1">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 order-xl-12 order-xl-2 order-2">
                <div class="agent-details-wrapper">
                    <div class="row pb-30 align-items-center">
                        <div class="col-lg-3 col-sm-5 col-5">
                            <div class="item-view-mode res-box">
                                <ul class="nav item-filter-list" role="tablist">
                                    <li><a  data-toggle="tab" href="#grid-view"><i class="fas fa-th"></i></a></li>
                                    <li><a class="active" data-toggle="tab" href="#list-view"><i class="fas fa-list"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-7 col-7"></div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="item-element res-box  text-right sm-left">
                                <%if(agents.lenth >= 3) {%>
                                    <p>Showing <span>1-3 of <%= agents.length %></span> Agents</p>
                                <%} else {%>
                                    <p>Showing <span>1-<%= agents.length %> of <%= agents.length %></span> Agent <%= agents.length === 1 ? '' : 's' %></p>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="tab-content">
                            <% include includes/views/grid.ejs %>
                            <% include includes/views/list.ejs %>
                            <% include includes/pagination.ejs %>
                        </div>
                    </div>
                </div>
            </div>
            <% include includes/sidebar.ejs %>
        </div>
    </div>
</div>
<% include ../shared/footer.ejs %>
