<div id="list-view" class="tab-pane fade show active agent-list">
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_1.jpg" alt="Image">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Tony Stark</a></h4>
                        <span>Real Estate Agent</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:44078767595">+44 078 767 595</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">tony_stark@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_2.jpg" alt="Image">

                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Bob Haris</a></h4>
                        <span>Sales Executive</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:44078767595">+44 765 342 312</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">bob_haris@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_3.jpg" alt="Image">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Jim Karry</a></h4>
                        <span>Sales Executive</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:44078767595">+44 687 294 812</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">jim_karry@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_4.jpg" alt="Image">

                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Alfred Jhon</a></h4>
                        <span>Real Estate Agent</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:078555285">+44 078 555 285</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">alfred_jhon@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_8.jpg" alt="Image">

                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Boris Baker</a></h4>
                        <span>Real Estate Agent</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:44078767595">+44 078 123 548</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">boris_12@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-agent-box mb-30">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="single-team-member agent-item">
                    <img src="/images/agents/agent_7.jpg" alt="Image">
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="single-team-info">
                    <div class="agent-content">
                        <h4><a href="/agents/1">Jhon Abrel</a></h4>
                        <span>Real Estate Agent</span>
                        <ul class="list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="text"><a href="tel:44078767595">+44 078 767 595</a></div>
                                </div>
                            </li>

                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text"><a href="#">abrel_43@sarchholm.com</a></div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <a href="/agents/1" class="agent-link">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
