<div class="post-nav nav-res pt-50  ">
    <div class="row">
        <div class="col-md-8 offset-md-2  col-xs-12 ">
            <div class="page-num text-center">
                <ul>
                    <% for(let i = 1; i <= pages; i++) {%>
                        <li class="<%= page.number === i ? 'active': '' %>"><a href="/agents?page=<%= i %>"><%= i %></a></li>
                    <%}%>
                    <!--<li><a href="#"><i class="lnr lnr-chevron-right"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
