<div class="breadcrumb-section bg-h" style="background-image: url(/images/breadcrumb/breadcrumb_1.jpg)">
    <div class="overlay op-5"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <div class="breadcrumb-menu">
                    <h2><%= title %></h2>
                    <span><a href="/">Home</a></span>
                    <span><%= title %></span>
                </div>
            </div>
        </div>
    </div>
</div>
