<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders">

    <link rel="icon" type="image/png" href="/images/logo-blue.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link href="/stylesheets/plugin.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title><%= title %></title>
</head>

<body>

<div class="preloader js-preloader">
    <img src="/images/preloader.gif" alt="...">
</div>

<div class="page-wrapper">
    <header class="header transparent scroll-hide">
        <% include menu.ejs %>
    </header>
