<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders">

    <link rel="icon" type="image/png" href="/images/logo-blue.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link href="/stylesheets/plugin.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<% if (errors.length > 0) {%>
    <% errors.forEach(error => { %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="backdrop-filter: opacity(1)">
            <div class="toast-header">
                <strong class="mr-auto text-danger">Error!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body bg-danger text-white" style="backdrop-filter: opacity(1)">
                <%= error %>
            </div>
        </div>
    <%})%>
<%}%>

<% if (success !== '') {%>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="backdrop-filter: opacity(1)">
        <div class="toast-header">
            <strong class="mr-auto text-success">Success!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body bg-success text-white" style="backdrop-filter: opacity(1)">
            Heads up, toasts will stack automatically
        </div>
    </div>
<%}%>

<% if (errors.length > 0 || success !== '') {%>
    <script>
        $(() => {
            const toast = $(".toast");

            toast.toast({ delay: 10000 });
            toast.toast('show');
        });
    </script>
<%}%>

<!--<div class="preloader js-preloader">
    <img src="/images/preloader.gif" alt="...">
</div>-->

<div class="page-wrapper">
    <header class="header transparent scroll-hide">
        <% include menu.ejs %>
    </header>
