<% include ../shared/header.ejs %>
<div class="property-details-wrap bg-cb">
    <% include includes/listing-header.ejs %>
    <% include includes/listing-details.ejs %>
    <% include includes/similar-listings.ejs %>
</div>
<% include ../shared/footer.ejs %>
