<div class="dash-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© 2019 SarchHolm . All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Plugin JS-->
<script src="/javascripts/plugin.js"></script>
<!--Perfect Scrollbar JS-->
<script src="/javascripts/perfect-scrollbar.min.js"></script>
<!-- Chart JS -->
<script src='/javascripts/chart.js'></script>
<!-- Main JS-->
<script src="/javascripts/main.js"></script>
<!-- Dashboard JS-->
<script src="/javascripts/dashboard.js"></script>
</body>
</html>
