<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders">
    <!-- Links -->
    <link rel="icon" type="image/png" href="/images/logo-blue.png">
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="/stylesheets/plugin.css" rel="stylesheet">
    <!-- Perfect scrollbar CSS-->
    <link href="/stylesheets/perfect-scrollbar.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Dashboard CSS -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <!-- Document Title -->
    <title><%= user.role.toUpperCase() %></title>
</head>

<body>
<div class="page-wrapper">
    <% include sidebar.ejs %>
    <div class="dash-content-wrap">
