<div id="buy" class="list-details-section">
    <h4>Buy a property</h4>
    <div id="accordion1" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Lorem ipsum dolor sit amet?
                </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading_Two">
                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    consectetur adipisicing elit. Earum, eius ?
                </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_Two">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading_Three">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Labore omnis unde in dicta neque eligendi ?
                </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_Three">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading_Four">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Lorem consectetur adipisicing elit Dolore veniam ?
                </a>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_Four">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
    </div>
</div>
