<div id="termsAndConditions" class="list-details-section">
    <h4>Terms &amp; Conditions</h4>
    <div id="accordion3" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading_2">
                <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse_14" aria-expanded="false" aria-controls="collapseTwo">
                    Voluptates accusamus officia laudantium ullam ad id?
                </a>
            </div>
            <div id="collapse_14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_2">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse_15" aria-expanded="false" aria-controls="collapseThree">
                    Lorem ipsum dolor sit amet?
                </a>
            </div>
            <div id="collapse_15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading_4">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse_16" aria-expanded="false" aria-controls="collapseFour">
                    Molestias incidunt pariatur modi enim.
                </a>
            </div>
            <div id="collapse_16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_4">
                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget leo massa. Mauris sed enim ac orci semper consequat sed vel ipsum. Nulla mauris arcu, malesuada sollicitudin condimentum vitae, porta quis est
                </div>
            </div>
        </div>
    </div>
</div>
