<% include ../shared/header.ejs %>
<% include ../shared/breadcrumbs.ejs %>
<div class="list-details-section faq-section pt-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="list-menu" class="list_menu faq-menu">
                    <ul class="list-details-tab fixed_nav">
                        <li class="nav-item active"><a href="#rent">Rent</a></li>
                        <li class="nav-item"><a href="#termsAndConditions">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="list-details-wrap">
                    <% include includes/rent.ejs %>
                    <% include includes/terms-conditions.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../shared/footer.ejs %>
