<div class="about-section  pt-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="testimonial-video" style="background-image: url(/images/bg/about.jpg)">
                    <div class="overlay op-3"></div>
                    <div class="testimonial-btn">
                        <a href="https://www.youtube.com/watch?v=EFB33r7u4tY" class="property-yt hvr-ripple-out"><i class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="section-title v3">
                    <p>Lorem ipsum dolor sit.</p>
                    <h2>We'll help you to find a place that you'll love.</h2>
                </div>
                <div class="about-text res-box">
                    <!--<span>All You Need in Just One Place</span>
                    <h2>We’ve made a life
                        that will change you</h2>-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quasi natus quia facilis corporis quibusdam ut non laudantium recusandae fugiat rerum ab aliquid accusamus cumque quae, illum id voluptatem ducimus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quasi natus quia facilis corporis quibusdam ut non laudantium recusandae fugiat rerum ab aliquid accusamus cumque quae, illum id voluptatem ducimus</p>
                </div>
            </div>
        </div>
    </div>
</div>
