<div class="promo-section pt-120 v2">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-12">
                <div class="promo-desc">
                    <div class="section-title v2">
                        <p>Lorem ipsum dolor sit.</p>
                        <h2>Why choose us</h2>
                    </div>
                    <div class="promo-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero amet, laborum qui nulla quae alias tempora. Placeat voluptatem eum numquam quas distinctio obcaecati quaerat, repudiandae qui! Quia, omnis, doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero amet, laborum qui nulla quae alias tempora. </p>
                    </div>
                    <div class="row pt-5">
                        <div class="col-sm-4 col-6">
                            <div class="counter-text v2">
                                <i class="lnr lnr-apartment"></i>
                                <h6 class="counter-value" data-from="0" data-to="10" data-speed="2500">
                                </h6>
                                <p>Years of experience</p>

                            </div>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div class="counter-text v2">
                                <i class="lnr lnr-thumbs-up"></i>
                                <h6 class="counter-value" data-from="0" data-to="585" data-speed="2000">
                                </h6>
                                <p> Happy Customers</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-6">
                            <div class="counter-text v2">
                                <i class="lnr lnr-user"></i>
                                <h6 class="counter-value" data-from="0" data-to="100" data-speed="2500">
                                </h6>
                                <p>Real estate Agent</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="promo-content-wrap">
                            <div class="promo-content">
                                <img src="images/category/pin.png" alt="...">
                                <h4>Personalized Service.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquid cumque</p>
                            </div>
                            <div class="promo-content">
                                <img src="images/category/rent.png" alt="...">
                                <h4>Financing made easy.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquid cumque.</p>
                            </div>
                            <div class="promo-content">
                                <img src="images/category/customer_support.png" alt="...">
                                <h4>24/7 support.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquid cumque.</p>
                            </div>
                            <div class="promo-content">
                                <img src="images/category/deal.png" alt="...">
                                <h4>Trusted by thousands.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia aliquid cumque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
