<% include ../shared/header.ejs %>
<div class="dash-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="dash-review-wrap">
                    <div class="act-title">
                        <h5>Approved Reviews</h5>
                    </div>
                    <div class="db-review-item-wrap">
                        <div class="single-review-item">
                            <div class="customer-review_wrap">
                                <div class="reviewer-img">
                                    <img src="/images/others/client_1.jpg" class="img-fluid" alt="...">
                                    <p>Stacy G.</p>
                                </div>
                                <div class="customer-content-wrap">
                                    <div class="customer-content">
                                        <div class="customer-review">
                                            <h6>Family Apartment in Cecil lake.</h6>
                                            <p class="comment-date">
                                                Jun 13, 2019
                                            </p>
                                            <ul class="product-rating">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus earum aperiam commodi error officia optio aut et quae nam nostrum!
                                    </p>
                                    <div class="like-btn">
                                        <a href="#" class="rate-review float-right"><i class="fas fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-review-item">
                            <div class="customer-review_wrap">
                                <div class="reviewer-img">
                                    <img src="/images/others/client_4.jpg" class="img-fluid" alt="...">
                                    <p>Louis F.</p>
                                </div>
                                <div class="customer-content-wrap">
                                    <div class="customer-content">
                                        <div class="customer-review">
                                            <h6>Villa on Sunbury.</h6>
                                            <p class="comment-date">
                                                Mar 02, 2019
                                            </p>
                                            <ul class="product-rating">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus earum aperiam commodi error officia optio aut et quae nam nostrum!
                                    </p>
                                    <div class="like-btn">
                                        <a href="#" class="rate-review float-right"><i class="fas fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-review-item">
                            <div class="customer-review_wrap">
                                <div class="reviewer-img">
                                    <img src="/images/others/client_2.jpg" class="img-fluid" alt="...">
                                    <p>Tony stark</p>
                                </div>
                                <div class="customer-content-wrap">
                                    <div class="customer-content">
                                        <div class="customer-review">
                                            <h6>Office Space in Thatcham.</h6>
                                            <p class="comment-date">
                                                Mar 02, 2019
                                            </p>
                                            <ul class="product-rating">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                                <li><i class="fas fa-star-half-alt"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="customer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates eum, velit recusandae, ducimus earum aperiam commodi error officia optio aut et quae nam nostrum!
                                    </p>
                                    <div class="like-btn">
                                        <a href="#" class="rate-review float-right"><i class="fas fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../shared/footer.ejs %>
