<div class="blog-posts v1 mt-25 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title v1">
                    <p>Check out our recent</p>
                    <h2>News &amp; updates</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card single-blog-item v1">
                    <img src="/images/blog/news_2.jpg" alt="...">

                    <div class="card-body">
                        <a href="#" class="blog-cat">Apartment</a>
                        <h4 class="card-title"><a href="single-news-one.html">The most inspiring interior design for your home</a></h4>
                    </div>
                    <div class="bottom-content">
                        <p>By<a href="#">Louis Fonsi</a><span class="date">Sep 28th , 2018</span> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card single-blog-item v1">
                    <img src="/images/blog/news_3.jpg" alt="...">
                    <div class="card-body">
                        <a href="#" class="blog-cat">Real estate</a>
                        <h4 class="card-title"><a href="single-news-one.html"> 7 Simple secrets to totally rocking your Real Estate </a></h4>
                    </div>
                    <div class="bottom-content">
                        <p>By<a href="#">Tony stark</a><span class="date">Mar 21st, 2019</span> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card single-blog-item v1">
                    <img src="/images/blog/news_1.jpg" alt="...">
                    <div class="card-body">
                        <a href="#" class="blog-cat">Commercial</a>
                        <h4 class="card-title"><a href="single-news-one.html">10 benifits of rental that may change your perspective</a></h4>
                    </div>
                    <div class="bottom-content">
                        <p>By<a href="#">Bob Haris</a><span class="date">Sep 28th , 2018</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
