<div class="featured-property-section v2 bg-cb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-12">
                <div class="section-title v2">
                    <p>Check out some of our</p>
                    <h2>Featured Properties</h2>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12">
                <div class="featured-property-wrap v2 swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="single-listing-two.html"><img src="/images/featured/featured_1.jpg" alt="..."> </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span>Featured</span></li>
                                    <li class="feature_or"><span>For Rent</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <h4>Condo on Hartfold</h4>
                                    </a>
                                    <ul class="property-feature">
                                        <li>
                                            <span>3 Bed</span>
                                        </li>
                                        <li>
                                            <span>2 Bath</span>
                                        </li>
                                        <li>
                                            <span>1400 sqft</span>
                                        </li>

                                    </ul>
                                    <div class="featured-price">
                                        <p><span class="per_sale">starts from</span>$34000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="single-listing-two.html"><img src="/images/featured/featured_8.jpg" alt="..."> </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span>Featured</span></li>
                                    <li class="feature_or"><span>For Rent</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <h4>Family Apartment </h4>
                                    </a>
                                    <ul class="property-feature">
                                        <li>
                                            <span>2 Bed</span>
                                        </li>
                                        <li>
                                            <span>2 Bath</span>
                                        </li>
                                        <li>
                                            <span>1400 sqft</span>
                                        </li>

                                    </ul>
                                    <div class="featured-price">
                                        <p>$1200<span class="per_month">month</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="single-listing-two.html"><img src="/images/featured/featured_9.jpg" alt="..."> </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span>Featured</span></li>
                                    <li class="feature_or"><span>For Rent</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <h4>Villa on Sunbury</h4>
                                    </a>
                                    <ul class="property-feature">
                                        <li>
                                            <span>4 Bed</span>
                                        </li>
                                        <li>
                                            <span>3 Bath</span>
                                        </li>
                                        <li>
                                            <span>2400 sqft</span>
                                        </li>

                                    </ul>
                                    <div class="featured-price">
                                        <p><span class="per_sale">starts from</span>$12000</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="single-listing-two.html"><img src="/images/featured/featured_10.jpg" alt="..."> </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span>Featured</span></li>
                                    <li class="feature_or"><span>For Sale</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <h4>Family Apartment</h4>
                                    </a>
                                    <ul class="property-feature">
                                        <li>
                                            <span>3 Bed</span>
                                        </li>
                                        <li>
                                            <span>2 Bath</span>
                                        </li>
                                        <li>
                                            <span>2142 sqft</span>
                                        </li>

                                    </ul>
                                    <div class="featured-price">
                                        <p><span class="per_sale">starts from</span>$12000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="single-listing-two.html"><img src="/images/featured/featured_11.jpg" alt="..."> </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span>Featured</span></li>
                                    <li class="feature_or"><span>For Slae</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <h4>Luxury Apartment</h4>
                                    </a>
                                    <ul class="property-feature">
                                        <li>
                                            <span>3 Bed</span>
                                        </li>
                                        <li>
                                            <span>2 Bath</span>
                                        </li>
                                        <li>
                                            <span>1800 sqft</span>
                                        </li>

                                    </ul>
                                    <div class="featured-price">
                                        <p><span class="per_sale">starts from</span>$12000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Slider Arrows-->
                    <div class="slider-btn v2 featured_prev"><i class="lnr lnr-arrow-left"></i></div>
                    <div class="slider-btn v2 featured_next"><i class="lnr lnr-arrow-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
