<div class="hero-parallax bg-fixed" style="background-image: url(/images/header/header_11.jpg)">
    <div class="overlay op-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-slider-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                            <div class="header-text v2">
                                <span>Click or call we do it all </span>
                                <h1>Find Properties that are worth your money</h1>
                            </div>
                        </div>
                        <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-12">
                            <div class="hero-slider-info">
                                <form class="hero__form v3 filter listing-filter">
                                    <h4>Find your dream home</h4>
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <div class="input-search">
                                                <input type="text" name="place-event" id="place-event" placeholder="Enter Property, Location, Landmark ...">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select">
                                                <option>Property Type</option>
                                                <option>Residential</option>
                                                <option>Commercial</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select">
                                                <option>Bed(s)</option>
                                                <% for (let i = 1; i <= 5; i++) {%>
                                                    <option><%= i %></option>
                                                <%}%>
                                                <option>6+</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-md-4 col-sm-6 mb-3">
                                            <select class="hero__form-input  custom-select">
                                                <option>Bath(s)</option>
                                                <% for (let i = 1; i <= 5; i++) {%>
                                                    <option><%= i %></option>
                                                <%}%>
                                                <option>6+</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 col-md-8 col-sm-12">
                                            <div class="filter-sub-area style1">
                                                <div class="filter-title mb-10">
                                                    <p>Price : <span><input type="text" id="amount_two"></span></p>
                                                </div>
                                                <div id="slider-range_two" class="price-range mb-20">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="search_btn">
                                                <a href="#">Search Property</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
