<div class="container pt-130">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title v1">
                <p>Browse popular properties around the world</p>
                <h2>Find Properties in Your city</h2>
            </div>
        </div>
    </div>
</div>
<div class="property-place pb-110">
    <div class="popular-place-wrap v2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mb-30">
                    <a href="grid-fullwidth-map.html">
                        <div class="single-place-wrap">
                            <div class="single-place-image">
                                <img src="/images/places/place_10.jpg" alt="place-image">
                            </div>
                            <span class="single-place-title">Havana</span>
                            <div class="single-place-content">
                                <h3>80 Property Listings</h3>
                                <p>See all Listings <i class="lnr lnr-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mb-30">
                    <a href="grid-fullwidth-map.html">
                        <div class="single-place-wrap">
                            <div class="single-place-image">
                                <img src="/images/places/place_7.jpg" alt="place-image">
                            </div>
                            <span class="single-place-title">Prague</span>
                            <div class="single-place-content">

                                <h3>120 Apartment for sale</h3>
                                <p>See all Listings <i class="lnr lnr-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                    <a href="grid-fullwidth-map.html">
                        <div class="single-place-wrap">
                            <div class="single-place-image">
                                <img src="/images/places/place_13.jpg" alt="place-image">
                            </div>
                            <span class="single-place-title">Miami</span>
                            <div class="single-place-content">

                                <h3>30 Luxury villa</h3>
                                <p>See all Listings <i class="lnr lnr-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                    <a href="grid-fullwidth-map.html">
                        <div class="single-place-wrap">
                            <div class="single-place-image">
                                <img src="/images/places/place_17.jpg" alt="place-image">
                            </div>
                            <span class="single-place-title">Milan</span>
                            <div class="single-place-content">

                                <h3>135 Property for sale</h3>
                                <p>See all Listings <i class="lnr lnr-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                    <a href="grid-fullwidth-map.html">
                        <div class="single-place-wrap">
                            <div class="single-place-image">
                                <img src="/images/places/place_15.jpg" alt="place-image">
                            </div>
                            <span class="single-place-title">New York</span>
                            <div class="single-place-content">

                                <h3>120 houses for Rent</h3>
                                <p>See all Listings <i class="lnr lnr-arrow-right"></i></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
