<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders">

    <link rel="icon" type="image/png" href="#">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link href="/stylesheets/plugin.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title>Page Not Found</title>
</head>

<body>
<div class="page-wrapper">
    <header class="header-fixed">
        <div class="site-navbar-wrap v2 style2">
            <div class="container">
                <div class="site-navbar">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-6 col-9 order-2 order-xl-1 order-lg-1 order-md-1">
                            <a class="navbar-brand" href="/"><img src="/images/logo-blue.png" alt="logo" class="img-fluid"></a>
                        </div>
                        <div class="col-lg-6 col-md-1 col-3  order-3 order-xl-2 order-lg-2 order-md-3 pl-xs-0">
                            <nav class="site-navigation text-right">
                                <div class="container">
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="/about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="/listings">Listings</a>
                                        </li>
                                        <li>
                                            <a href="/faq">FAQ</a>
                                        </li>
                                        <li>
                                            <a href="/contact">Contact Us</a>
                                        </li>
                                        <li class="d-lg-none">
                                            <a class="btn v3" href="/listings/add"><i class="lnr lnr-home"></i>Add Listing </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            <div class="d-lg-none sm-right">
                                <a href="#" class="mobile-bar js-menu-toggle">
                                    <span class="lnr lnr-menu"></span>
                                </a>
                            </div>
                            <!--mobile-menu starts -->
                            <div class="site-mobile-menu">
                                <div class="site-mobile-menu-header">
                                    <div class="site-mobile-menu-close  js-menu-toggle">
                                        <span class="lnr lnr-cross"></span> </div>
                                </div>
                                <div class="site-mobile-menu-body"></div>
                            </div>
                            <!--mobile-menu ends-->
                        </div>
                        <div class="col-lg-4 col-md-5 col-12 order-1 order-xl-3 order-lg-3 order-md-2 text-right pr-xs-0">
                            <div class="menu-btn">
                                <ul class="user-btn">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#user-login-popup">
                                            <i class="lnr lnr-user"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="add-list float-right ml-3">
                                    <a class="btn v6" href="listings/add"><i class="lnr lnr-home"></i>Add Listing </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="error-section mt-150 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3  error-text text-center">
                    <div class="error-content">
                        <img src="/images/others/404.png" alt="404 not found"/>
                        <h4>Ohh! Page Not Found</h4>
                        <p>Perhaps searching can help or go back to <a href="/">Homepage</a> </p>
                    </div>
                    <div class="error-search-container">
                        <form>
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="lnr lnr-magnifier"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="scrolltotop"><i class="lnr lnr-arrow-up"></i></span>
</div>

<div class="footer-wrapper v2">
    <div class="footer-top-area">
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-logo">
                        <a href="/"> <img src="/images/logo-white.png" alt="logo"></a>
                        <div class="company-desc">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio excepturi nam totam sequi, ipsam consequatur repudiandae libero illum.
                            </p>
                            <ul class="list footer-list mt-20">
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fa fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">13th North Ave, Florida, USA</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text"><a href="#">info@sarchholm.com</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <div class="icon">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <div class="text">+44 078 767 595</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Popular Searches</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="#">Property for Rent</a></li>
                            <li><a class="link-hov style2" href="#">Property for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Condominium for Sale</a></li>
                            <li><a class="link-hov style2" href="#">Resale Properties</a></li>
                            <li><a class="link-hov style2" href="#">Recent Properties</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 text-center sm-left">
                    <div class="footer-content nav">
                        <h2 class="title">Quick Links</h2>
                        <ul class="list res-list">
                            <li><a class="link-hov style2" href="/about">About us</a></li>
                            <li><a class="link-hov style2" href="/contact">Contact us</a></li>
                            <li><a class="link-hov style2" href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content">
                        <h4 class="title">Subscribe</h4>
                        <div class="value-input-wrap newsletter">
                            <form action="#">
                                <input type="text" placeholder="Your mail address ..">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <div class="footer-social-wrap">
                            <p>Follow us on </p>
                            <ul class="social-buttons style2">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2">
                    <p>
                        ©SarchHolm 2019. All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../shared/auth-modal.ejs %>
<script src="javascripts/plugin.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
<script src="javascripts/main.js"></script>
</body>
</html>
