<div class="col-md-12">
    <h3>My Listings</h3>
    <div class="agent-listings">
        <div class="tab-content mt-30 add_list_content">
            <div class="tab-pane fade show active" id="all_property">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="single-property-box">
                            <div class="property-item">
                                <a class="property-img" href="/listings/single/1"><img src="/images/property/property_1.jpg" alt="#">
                                </a>
                                <ul class="feature_text">
                                    <li class="feature_cb"><span> Featured</span></li>
                                    <li class="feature_or"><span>For Sale</span></li>
                                </ul>
                                <div class="property-author-wrap">
                                    <a href="#" class="property-author">
                                        <img src="/images/agents/agent_min_1.jpg" alt="...">
                                        <span>Tony Stark</span>
                                    </a>
                                    <ul class="save-btn">
                                        <li data-toggle="tooltip" data-placement="top" title="Photos"><a href=".html" class="btn-gallery"><i class="lnr lnr-camera"></i></a></li>
                                        <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Bookmark"><a href="#"><i class="lnr lnr-heart"></i></a></li>
                                        <li data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Compare"><a href="#"><i class="fas fa-arrows-alt-h"></i></a></li>
                                    </ul>
                                    <div class="hidden photo-gallery">
                                        <a href="/images/single-listing/property_view_1.jpg"></a>
                                        <a href="/images/single-listing/property_view_2.jpg"></a>
                                        <a href="/images/single-listing/property_view_3.jpg"></a>
                                        <a href="/images/single-listing/property_view_4.jpg"></a>
                                        <a href="/images/single-listing/property_view_5.jpg"></a>
                                        <a href="/images/single-listing/property_view_6.jpg"></a>
                                        <a href="/images/single-listing/property_view_7.jpg"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="property-title-box">
                                <h4><a href="single-listing-one.html">Villa on Hartford</a></h4>
                                <div class="property-location">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <p>2854 Meadow View Drive, Hartford, USA</p>
                                </div>
                                <ul class="property-feature">
                                    <li> <i class="fas fa-bed"></i>
                                        <span>4 Bedrooms</span>
                                    </li>
                                    <li> <i class="fas fa-bath"></i>
                                        <span>3 Bath</span>
                                    </li>
                                    <li> <i class="fas fa-arrows-alt"></i>
                                        <span>2142 sq ft</span>
                                    </li>
                                    <li> <i class="fas fa-car"></i>
                                        <span>2 Garage</span>
                                    </li>
                                </ul>
                                <div class="trending-bottom">
                                    <div class="trend-left float-left">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                    </div>
                                    <a class="trend-right float-right">
                                        <div class="trend-open">
                                            <p><span class="per_sale">starts from</span>$25000</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
