<div class="col-xl-4 col-lg-12">
    <div id="list-sidebar" class="listing-sidebar">
        <div class="widget">
            <h3 class="widget-title">Recently Added</h3>
            <li class="row recent-list">
                <div class="col-lg-5 col-4">
                    <div class="entry-img">
                        <img src="/images/property/property_2.jpg" alt="...">
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="col-lg-7 col-8 no-pad-left">
                    <div class="entry-text">
                        <h4 class="entry-title"><a href="/news/single/1">Sea View Villa</a></h4>
                        <div class="property-location">
                            <i class="fa fa-map-marker-alt"></i>
                            <p>1797 Hillcrest Lane, Irvine, CA</p>
                        </div>
                        <div class="trend-open">
                            <p>$7500<span class="per_month">month</span></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="row recent-list">
                <div class="col-lg-5 col-4">
                    <div class="entry-img">
                        <img src="/images/property/property_3.jpg" alt="...">
                        <span>For Sale</span>
                    </div>
                </div>
                <div class="col-lg-7 col-8 no-pad-left">
                    <div class="entry-text">
                        <h4 class="entry-title"><a href="/news/single/1">Apartment on Glasgow</a></h4>
                        <div class="property-location">
                            <i class="fa fa-map-marker-alt"></i>
                            <p>60 High St, Glasgow, London</p>
                        </div>
                        <div class="trend-open">
                            <p><span class="per_sale">starts from</span>$10000</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="row recent-list">
                <div class="col-lg-5 col-4">
                    <div class="entry-img">
                        <img src="/images/property/property_6.jpg" alt="...">
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="col-lg-7 col-8 no-pad-left">
                    <div class="entry-text">
                        <h4 class="entry-title"><a href="/news/single/1">Family house in Florance.</a></h4>
                        <div class="property-location">
                            <i class="fa fa-map-marker-alt"></i>
                            <p>4210 Kha St,Florence,USA</p>
                        </div>
                        <div class="trend-open">
                            <p>$4500<span class="per_month">month</span></p>
                        </div>
                    </div>
                </div>
            </li>
        </div>
        <div class="widget">
            <h3 class="widget-title">Featured Property</h3>
            <div class="swiper-container single-featured-list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide single-property-box">
                        <div class="property-item">
                            <a class="property-img" href="/listings/single/1"><img src="/images/property/property_7.jpg" alt="#">
                            </a>
                            <ul class="feature_text">
                                <li class="feature_cb"><span> Featured</span></li>
                                <li class="feature_or"><span>For Sale</span></li>
                            </ul>
                            <div class="property-author-wrap">
                                <h4><a href="#" class="property-author">
                                        Sea view Villa
                                    </a>
                                </h4>
                                <div class="featured-price">
                                    <p><span class="per_sale">starts from</span>$12000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide single-property-box">
                        <div class="property-item">
                            <a class="property-img" href="/listings/single/1"><img src="/images/property/property_11.jpg" alt="#">
                            </a>
                            <ul class="feature_text">
                                <li class="feature_cb"><span> Featured</span></li>
                                <li class="feature_or"><span>For Rent</span></li>
                            </ul>
                            <div class="property-author-wrap">
                                <a href="#" class="property-author">
                                    <span>Awesome Family home</span>
                                </a>
                                <div class="featured-price">
                                    <p>$2300<span class="per_month">month</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide single-property-box">
                        <div class="property-item">
                            <a class="property-img" href="/listings/single/1"><img src="/images/property/property_9.jpg" alt="#">
                            </a>
                            <ul class="feature_text">
                                <li class="feature_cb"><span> Featured</span></li>
                                <li class="feature_or"><span>For Sale</span></li>
                            </ul>
                            <div class="property-author-wrap">
                                <a href="#" class="property-author">
                                    <span>Condo in Hartland</span>
                                </a>
                                <div class="featured-price">
                                    <p><span class="per_sale">starts from</span>$23000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-btn v3 single-featured-next"><i class="lnr lnr-arrow-right"></i></div>
                <div class="slider-btn v3 single-featured-prev"><i class="lnr lnr-arrow-left"></i></div>
            </div>
        </div>
        <div class="widget mortgage-widget">
            <h3 class="widget-title">Property Mortgage</h3>
            <form action="#" method="GET" enctype="multipart/form-data">
                <div class="mortgage-group">
                    <span class="mortgage-icon">$</span>
                    <input class="mortgage-field" type="text" name="amount-one" id="amount-one" placeholder="Total Amount">
                </div>
                <div class="mortgage-group">
                    <span class="mortgage-icon">$</span>
                    <input class="mortgage-field" type="text" name="amount-two" id="amount-two" placeholder="Down Payment">
                </div>
                <div class="mortgage-group">
                    <span class="mortgage-icon">$</span>
                    <input class="mortgage-field" type="text" name="amount-three" id="amount-three" placeholder="Loan Terms(Years)">
                </div>
                <div class="mortgage-group">
                    <span class="mortgage-icon">%</span>
                    <input class="mortgage-field" type="text" name="amount-four" id="amount-four" placeholder="Total Amount">
                </div>
                <div class="mortgage-btn">
                    <button type="submit" data-toggle="modal" data-target="#mortgage_result">Calculate</button>
                </div>
            </form>
        </div>
    </div>
</div>
