<div class="single-property-header v1">
    <div class="single-property-slider">
        <div class="property-slider-img bg-f bg-fixed" style="background-image: url(/images/single-listing/property_header_1.jpg);">
            <div class="overlay op-1"></div>
        </div>
        <div class="list-details-title v2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <div class="single-listing-title float-left">
                            <h2>Villa on Sunbury<span class="btn v5">For Sale</span></h2>
                            <p><i class="fas fa-map-marker-alt"></i> 39 Casey Ave, Sunbury, VIC 3429</p>
                            <a href="#" class="property-author">
                                <img src="/images/agents/agent_min_2.jpg" alt="...">
                                <span>Bob haris</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <div class="list-details-btn text-right sm-left">
                            <div class="trend-open">
                                <p><span class="per_sale">starts from</span>$7500</p>
                            </div>
                            <div class="list-ratings">
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star-half-alt"></span>
                            </div>
                            <ul class="list-btn">
                                <li class="share-btn">
                                    <a href="#" class="btn v4" data-toggle="tooltip" title="Share"><i class="fas fa-share-alt"></i></a>
                                    <ul class="social-share">
                                        <li class="bg-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="bg-tt"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="bg-ig"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </li>
                                <li class="save-btn">
                                    <a href="#" class="btn v4" data-toggle="tooltip" title="Save"><i class="fa fa-heart"></i></a>
                                </li>
                                <li class="print-btn">
                                    <a href="#" class="btn v4" data-toggle="tooltip" title="Print"><i class="lnr lnr-printer"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
