<div class="contact-info section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Corporate Office</h4>
                    <p>7652 Washington Avenue, Suite 315
                        Miami Beach, FL 33139</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item">
                    <i class="fas fa-phone-alt"></i>
                    <h4>Direct Contact</h4>
                    <p><strong>Phone : </strong> 800 987 6543</p>
                    <p><strong>Email : </strong> 800 987 6543</p>
                    <p><strong>Website : </strong> 800 987 6543</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="contact-info-item">
                    <i class="fas fa-business-time"></i>
                    <h4>Business Hours</h4>
                    <p><strong>Sunday : </strong> Closed</p>
                    <p><strong>Monday-Friday : </strong>10AM - 8PM</p>
                    <p><strong>Saturday : </strong>10AM - 2PM</p>
                </div>
            </div>
        </div>
    </div>
</div>
